.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.container > form {
  width: 50%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

button {
  background: #0563b4 !important;
  width: 50%;
}
p {
  color: red;
}

.title-form {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
}
