@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap");

.custom-footer-card {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 300;
}


.level-card-player {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #aaaaaa;
}

.customPlayerNameCard {
  font-weight: "700";
  font-size: "1rem";
  color: "#ffb548";
}

.header-text-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.subHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.bio-card-level {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #fff;
}

.customImageCard {
  box-shadow: 7px 2px #ffb740;
}

.customCard {
  background-color: "#262626";
  border-radius: "10px";
  height: "300px";
}

.cardLevelActive {
  background-color: #ffa514;
}

.dropdown-toggle::after {
  display: none;
}

.customCardLevel {
  cursor: pointer;
  background-color: #262626;
  width: 150px;
  height: 100px;
}

.customCardLevel:hover {
  background-color: #ffb740;
}

.customPlayerLevelCard {
  color: "rgb(221 221 221)";
}

.nav-link {
  color: white;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-menu.show {
  background-color: #262626;
}
